<div class="deuxSection">
    <div class="col-4 colsection">
        <h2 class="textalign">Let our application take your business to new heights</h2>
        <p class="textalign">One account, one password. 
            All functions in one place and in an intuitive way 
            to allow the user to navigate to navigate easily</p>
    </div>
    <div class="col-8 cardBoard">
        <div class="card text-white  mb-3 card1">
            <div class="card-body">
              <h5 class="card-title">News Feed & Discover</h5>
              <p class="card-text underligne">The latest trends, the latest hashtags, the latest news from your friends all in one 
                one application</p>
            </div>
          </div>
          <div class="card text-white  mb-3 card2">
            <div class="card-body">
              <h5 class="card-title">Wiin's Music</h5>
              <p class="card-text underligne">This function allows verified and/or certified artists to post their audio content (music, podcasts ...) in exchange for a fee if respecting the Term of Use and if certified.</p>
            </div>
          </div>
          <div class="card text-white  mb-3 card3">

            <div class="card-body">
              <h5 class="card-title">Wiin's Tube</h5>
              <p class="card-text underligne">This feature allows verified and/or certified and/or certified artists to post their video in exchange for a fee if they remuneration if respecting the UGC and if certified.</p>
            </div>
          </div>
          <div class="card text-white  mb-3 card4">
            <div class="card-body">
              <h5 class="card-title">Wiin's Messenger</h5>
              <p class="card-text underligne">
                Wiin's Messenger
                Chat with your friends and create interest groups.
                Messages are ephemeral and disappear after two 
                weeks. The messages will fade away, the links you 
                you have made will last.</p>
            </div>
          </div>
    </div>
</div>
