<div class="container-fluid p-5 mb-4 bg-dark bg-opacity-75 jumbotron">
    <img class="ImageSuperposé" src="../../assets/New.png" alt="New" width="100%">
      <div class="minijumb">
        <p class="col-md-3 text-light">The social media that brings together all the features related to entertainment and based on cryptocurrencies</p>
        <a href="https://play.google.com/store/apps/details?id=com.wiins&hl=fr&gl=US" target="_blank"><img src="../../assets/badge-android.png" class="buton" alt="android" width="200px"></a>
        <a href="https://play.google.com/store/apps/details?id=com.wiins&hl=fr&gl=US" target="_blank"><img src="../../assets/app-store-badge.png" class="buton" alt="apple" width="200px"></a>

      </div>
  </div>
