<div class="container-fluid p-5 mb-4 bg-dark bg-opacity-75 jumbotron">
    <img class="ImageSuperposé" src="../../assets/New.png" alt="New" width="100%">
      <div class="minijumb">
        <p class="col-md-3 fs-4 text-light">The social media that brings together all the features related to entertainment and based on cryptocurrencies</p>
        <button class="btn btn-primary btn-lg me-3" type="button">Play Store</button>
        <button class="btn btn-primary btn-lg" type="button">App Store</button>

      </div>
  </div>
