<header>
    <nav>
        <ul class="navbarnav">
            <li><a routerLink="feature">Feature</a></li>
            <li><a routerLink="token">Token</a></li>
            <li><a routerLink="nextstep">Next Step</a></li>
        </ul>
    </nav>
    <div class="col-2 logo">
        <a href="https://www.wiins.io/sign/in" target="_blank"><img src="../../assets/wiinsLogoOnly.png" alt="logo" width="50px">
        <img src="../../assets/logo-white-wiins.png" width="70px" alt="logo"></a>
    </div>
    
    <a class="cta" href="https://discord.com/invite/cEhZDNXP" target="_blank"><button>Discord</button></a>
</header>
