<div class="troisiemeSection">
    <div class="col-8 ">
        <div class="textCarrou">
            <h3>Verification / Certification</h3>
            <p>Any content creator who wishes to be paid for their audio and audiovisual content and have monetary gifts must apply for certification.<br><br>To be certified, you must first be accepted at the verification, then transmit his address Crypto-currency.</p>
            <h3>Monetary Gifts</h3>
            <p>Each certified content creator can receive monetary gifts in cryptocurrencies. These gifts can be sent by other users of the application.<br><br> Users reward artists and content creators by using their money stored on the platform and simply selecting an artist and an  amount</p>
            <div class="container">
                <div class="carousel">
                  <input type="radio" id="carousel-1" name="carousel[]" checked>
                  <input type="radio" id="carousel-2" name="carousel[]">
                   <input type="radio" id="carousel-3" name="carousel[]">
                  <input type="radio" id="carousel-4" name="carousel[]">
                  <input type="radio" id="carousel-5" name="carousel[]">
                  <input type="radio" id="carousel-6" name="carousel[]">
                  <ul class="carousel__items">
                    <li class="carousel__item"><br><br>1 Listen to audio content without commercial interruption</li>
                    <li class="carousel__item"><br><br>2 Like, comment on content</li>
                    <li class="carousel__item"><br><br>3 Add content to your playlist</li>
                    <li class="carousel__item"><br><br>4 Give monetary gifts to content creators</li>
                    <li class="carousel__item"><br><br>5 Follow the content creator</li>
                    <li class="carousel__item"><br><br>6 See content credit: performer, producer</li>
                  </ul>
                   <div class="carousel__prev">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                    <label for="carousel-6"></label>
                   </div>
                   <div class="carousel__next">
                     <label for="carousel-1"></label>
                     <label for="carousel-2"></label>
                     <label for="carousel-3"></label>
                     <label for="carousel-4"></label>
                     <label for="carousel-5"></label>
                     <label for="carousel-6"></label>
                   </div>
                   <div class="carousel__nav">
                     <label for="carousel-1"></label>
                     <label for="carousel-2"></label>
                     <label for="carousel-3"></label>
                     <label for="carousel-4"></label>
                     <label for="carousel-5"></label>
                     <label for="carousel-6"></label>
                   </div>
                 </div>
               </div>

        </div>


        
        
    </div>
    <div class="col-4 colsection"></div>
</div>
