
<img src="../../assets/dusan-jovic-cruUfe5g1Zk-unsplash.png" alt="dusan" width="500px">
<div class="section2">
    <div class="col-8">
        <video autoplay muted loop id="myVideo">
            <source src="../../assets/Video Dynamique VF.mp4" type="video/mp4">
          </video>
    </div>
    <div class="col-4">
        <div class="textCenter">
            <h1>Why Wiin's ?</h1>
            <p>The increase of applications, the emergence of advertising and  the lack of privacy have led us to develop Wiin's : the solution that meets the current usages.<br><br>If you can imagine an application where you can share your photo content with other users  while listening to music or watching videos while chatting with your friends.<br><br>All this, without advertising and with the possibility to use cryptocurrency to help artists you like.<br><br>This project emerged in 2017 in in the minds of three people who shared the same values and  the same vision. </p>
        </div>
    </div>

</div>
