<div class="container d-flex justify-content-end">
    <div class="couple">
        <img src="../../assets/Artist.png" alt="artist">
    </div>
</div>

<div class="container-fluid bgPaysage">
    <div class="title">
        <h2>Our talents are our wealth</h2>
        <p>Today Wiin's has a team of six open source collaborators  from 4 continents</p>
    </div>
    
    <div class="collabotors bg-dark bg-opacity-75">
        <div class="colColla">
            <img src="../../assets/Raph.png" alt="Raph">
            <h3>CEO</h3>
            <h5>Etang-Sale Raphaël</h5>
        </div>
        <div class="colColla">
            <img src="../../assets/Levine.png" alt="Lev">
            <h3>Marketing Manager</h3>
            <h5>Maillot lévine</h5>
        </div>
        <div class="colColla">
            <img src="../../assets/Richard.png" alt="Rich">
            <h3>RH Manager</h3>
            <h5>Ricquebourg Richard</h5>
        </div>
    </div>
</div>
