<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4><a href="">Espace-Piin's.Inc</a></h4>
                <ul>
                    <li>123-456-7890</li>
                    <li>Info@mysite.com</li>
                    <li>500 Terry Francois St </li>
                    <li>San Francisco, CA</li>
                    <li>94158</li>
                </ul>
            </div>
            <div class="col">
                <form>
                    <h4>Subscribe to Our Newsletter</h4>
                    <div class="form">
                        <p>Email *</p>
                        <input type="text" id="email" class="form__input" autocomplete="off">
                        <label for="email" class="form__label">Email</label>
                      </div>
                      <button type="submit">Submit</button>
                </form>
            </div>
            <div class="col">
                <h4>Follow us on :</h4>
                <div class="social">
                    <a href="https://www.linkedin.com/company/wix-com" target="_blank">Link</a>
                    <a href="https://www.facebook.com/wix" target="_blank">Facebook</a>
                    <a href="https://twitter.com/wix" target="_blank">Twitter</a>
                </div>
                <p>© 2023 by Vista.io. Proudly created with Wix.com</p>

            </div>
        </div>
    </div>
</footer>
