<div class="section1">
    <div class="col-8 d-flex miSection">
        <div class="col textMarg">
            <h1>Invest for your future</h1>
            <p>Wiin's wants to be a completely decentralized site in the coming months</p>
        </div>
        <div class="col d-flex elementRonds">
            <div class="col-2 textCenter">
                <img src="../../assets/Airdrops.jpg" class="imageRonde" alt="airdrop">
                <p>Airdrops</p>
            </div>
            <div class="col-2 textCenter">
                <img src="../../assets/Stacking.jpg" class="imageRonde" alt="stacking">
                <p>Stacking</p>
            </div>
            <div class="col-2 textCenter">
                <img src="../../assets/Creator Gift.png" class="imageRonde" alt="creaGift">
                <p>Creator Gift</p>
            </div>
        </div>
    </div>
    <div class="col-4 bgImage">

    </div>

</div>
